# Bluetooth
/dev/rfkill                                                                  0660   bluetooth  bluetooth

# Camera
/dev/media*                                                                  0660   system     camera
/dev/v4l-subdev*                                                             0660   system     camera
/dev/video*                                                                  0660   system     camera

# CEC
/dev/cec0                                                                    0660   system     graphics
/dev/cec1                                                                    0660   system     graphics

# DMA
/dev/dma_heap/linux,cma                                                      0666   system     graphics

# FFmpeg
/dev/media2                                                                  0660   media      media
/dev/video19                                                                 0660   media      media

# ION
/dev/ion                                                                     0664   system     system

# USB
/sys/class/udc/1000480000.usb  current_speed                                 0664   system     system
